<script>
    import Slick from 'vue-slick';
    export default {
        components: {
            Slick
        },
        data() {
            return {
                slickOptions: {
                    interval: 2000,
                    prevArrow: "<span class='slick-prev'>❮</span>",
                    nextArrow: "<span class='slick-next'>❯</span>",
                    slidesToShow: 5,
                    responsive: [
                        {
                            breakpoint: 480,
                            settings: {
                                arrows: false,
                                autoplay: true,
                                autoplaySpeed: 2000,
                                slidesToShow: 1
                            }
                        },
                        {
                            breakpoint: 600,
                            settings: {
                                slidesToShow: 3,
                            }
                        },
                        {
                            breakpoint: 1024,
                            settings: {
                                slidesToShow: 5,
                            }
                        }
                    ]
                },
            };
        }
    }
</script>
