<template>
    <slider height="700px" v-bind:interval="interval">
        <slider-item v-for="(i, index) in list" :key="index">
            <div :style="i" class="slide-item">
                <a class="button alert text-uppercase">Скачать прайс-лист</a>
            </div>
        </slider-item>
    </slider>
</template>

<script>
    import { Slider, SliderItem } from 'vue-easy-slider';

    export default {
        props: [
            'slides'
        ],
        mounted() {
           this.list = JSON.parse(this.slides);
        },
        components: {
            Slider, SliderItem
        },
        data() {
            return {
                interval: 50000,
                list: []
            }
        }
    }
</script>
