.slick-slide {
	img {
        margin: 0 auto;
        width: 80% !important;
        margin-left: 20px;
	}
}
.slick-arrow {
    font-size: 50px;
    color: #cdcdcd;
    position: absolute;
    top: 50%;
    margin-top: -43px;
    cursor: pointer;
    &:hover {
    	color: #fec500;
    }
	&.slick-prev {
    	left: -20px;
	}
	&.slick-next {
    	right: -20px;
	}
}
