footer {
	.green-container {
		font-size: rem-calc(12);
		padding: .5rem 0;
		font-weight: 700;
	}
	.yellow-container {
		font-size: rem-calc(12);
	}
	.menu {
		li {
			a {
				font-size: rem-calc(12);
				padding: .3rem 0rem;
				color: $black;
			}
		}
	}
}