header {
	.green-container {
		font-size: rem-calc(12);
		padding: .5rem 0;
		font-weight: 600;
	}
	.menu {
		li {
			@include breakpoint(small only) {
				width: 50%;
			}
			&:hover {
				a {
					color: $green;
				}
			}
			&.active {
				a {
					color: $green;
				}
			}
			a {
				font-size: rem-calc(18);
				font-weight: 800;
				color: $black;
			}
		}
	}
}