.slider {
	height: 700px !important;
	@include breakpoint(small only) {
		height: 300px !important;
	}
	.slide-item {
		width: 100%;
		height: 100%;
		background-size: cover !important;
		position: relative;
		.button {
			position: absolute;
			bottom: 40px;
			margin-left: -150px;
			width: 300px;
			left: 50%;
			font-size: rem-calc(18);
			font-weight: 800;
			color: $white;
		}
	}
}