.green-container {
	background: $green;
	color: $white;
	a {
		color: $white;
	}
}
.yellow-container {
	background: #fcf3e4;
	border-top: 4px solid #c9b38e;
}
h6 {
	font-size: rem-calc(14);
	font-weight: 700;
}
h5 {
	font-size: rem-calc(14);
	font-weight: 700;
}
h2 {
	font-size: rem-calc(18);
	font-weight: 800;
}
h1 {
	font-size: rem-calc(18);
	font-weight: 800;
}
p {
	font-size: rem-calc(12);
}
article {
	ul {
		li {
			font-size: rem-calc(12);
		}
	}
}
.green-text {
	font-size: rem-calc(24);
	font-weight: 800;
	color: #0f9245;
}
iframe {
	max-width: 100%;
}